/* HOME */
#home {
    background-color: var(--color-primary-1);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#home-div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(59, 123, 227, 0.9), rgba(59, 123, 227, 0.9)), url('../../../public/background.jpg');
    box-shadow: inset 0 0 50px 50px var(--color-primary-3);
    border-radius: 0 0 80% 0;
    padding-bottom: 10dvh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

#logo {
    font-weight: 300;
    font-size: 5dvh;
    color: var(--color-primary-5);
    text-align: center;
}

#title {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-1);
    font-weight: bolder;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10dvh;
    text-align: center;
}

#title span {
    align-self: center;
    color: var(--color-primary-5);
    font-weight: bolder;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#btn-home {
    background-color: var(--color-primary-2);
    color: var(--color-primary-6);
    border: none;
    border-radius: 40px;
    padding: 30px 40px 30px 40px;
    font-size: large;
    box-shadow: 0px 5px 5px var(--color-primary-4);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    transition: transform 0.4s ease;
    max-width: 100%;
}

#subtitle {
    color: var(--color-primary-5);
    padding: 5dvh;
    text-align: center;
    max-width: 100%;
}

#btn-home:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    #home {
        max-width: 100%;
    }

    #home-div {
        max-width: 100%;
        border-radius: 0 0 40% 0;
    }

    #title {
        font-size: 6dvh;
    }

    #btn-home {
        padding: 20px 30px;
        font-size: large;
        white-space: normal;
        text-align: center;
    }

    #subtitle {
        font-size: 2.5dvh;
    }
}

@media (max-width: 400px) {
    #title {
        font-size: 5dvh;
    }
    
    #subtitle {
        font-size: 2dvh;
        padding: 3dvh;
    }
    
    #btn-home {
        padding: 15px 25px;
        font-size: medium;
    }
}