@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./home/home.css);
:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-height: 60px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-1 : #E0F2E9;/*rgb(224, 242, 233)*/
    --color-primary-2 : #A6C3F2; /*rgb(166, 196, 242)*/
    --color-primary-3 : #3B7BE3;/*rgb(59, 123, 227)*/
    --color-primary-4 : #296FE0;/*rgb(41, 111, 224)*/
    --color-primary-5 : #0A2247; /*rgb(10, 34, 71)*/
    --color-primary-6 : #000000;
  }
}

body {
  color: var(--foreground);
  background-color: var(--color-primary-3);
  font-family: "Ubuntu",sans-serif;
}
html{
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 0;
}


/*footer*/

/* FOOTER */
#footer-div {
  z-index: 10;
  font-size: 14px;
  padding: 5dvh 5% 3dvh 5%;
  background-color: var(--color-primary-5);
  color: var(--color-primary-1);
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

#footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

@media (max-width: 800px) {
  #footer-div {
    max-width: 100%;
    font-size: 12px;
    padding: 4dvh 5% 2dvh 5%;
  }
  
  #footer-items {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  #footer-div {
    font-size: 11px;
    text-align: center;
  }
  
  #footer-items {
    flex-direction: row;
    align-items: center;
  }
}